{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container">
  <div class="finch-container">
    <img class='home-img' style="width:800px; height: 800px; border-radius: 15px;" src="{% static 'images/finchHome.jpg' %}" alt="The Finch Collector Finch" />
  </div>
</section>
{% if not user.is_authenticated %}
  <section>
    <form action="{% url 'home' %}" method="POST" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% endif %}
{% endblock %}