{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/finches/finch-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Finch List</h1>
  <img src="{% static 'images/finch1.svg' %}" alt="A finch" />
  <img src="{% static 'images/finch2.svg' %}" alt="A finch" />
  <img src="{% static 'images/finch3.svg' %}" alt="A finch" />
  <img src="{% static 'images/finch4.svg' %}" alt="A finch" />
</section>

<section class="card-container">
  {% for finch in finches %}
    <a href="{% url 'finches_detail' finch.id %}">
      <div class="card">
        <div class="card-content">
          <div class="card-img-container">
            <img 
            style="width:100px;"
              src="{% static 'images/blue.gif' %}" 
              alt="Two finches"
            >
          </div>
          <h2 class="card-title">{{ finch.name }}</h2>
          {% if finch.age > 0 %}
            <p>A {{ finch.age }} year old {{ finch.breed }}</p>
          {% else %}
            <p>A {{ finch.breed }}</p>
          {% endif %}
          <p><small>{{ finch.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}